---
import { render } from "astro:content";
import { getCollection, getEntry } from "astro:content";
import Layout from "@/layouts/Layout.astro";
import LessonLayout from "@/layouts/LessonLayout.astro";
import HeaderLesson from "@/components/astro/HeaderLesson.astro";
import Card from "@/components/ui/card/Card.astro";
import type { Lesson } from "@/types/lesson";
import { Tab } from "@/components/solid/Tab.tsx";

export async function getStaticPaths() {
  const python = await getCollection("python");

  const topics = [
    ...new Set(
      python
        .map((entry) => entry.id.split("/")[0])
        .filter((topic) => topic !== "lesson.md" && topic !== "exercise.md"),
    ),
  ];

  return topics.map((topic) => ({
    params: { topic },
    props: { topic },
  }));
}

const { topic } = Astro.props;
const lesson = await getEntry("python", `${topic}/lesson`);

const { Content } = lesson?.data.type === "lesson" ? await render(lesson) : {};
const data = lesson?.data as Lesson;
---

<LessonLayout
  title={data.title}
  description={data.description}
  quiz={data.quiz}
>
  {Content && <Content />}
  {
    Array.isArray(data?.quiz) && data.quiz.length > 0 && (
      <Fragment slot="quiz">
        <h3 class="mt-6 mb-2 text-lg font-semibold">Quick Quiz</h3>
        <div class="bg-card text-card-foreground rounded-lg border shadow-sm">
          {JSON.stringify(data.quiz)}
        </div>
      </Fragment>
    )
  }
  <Fragment slot="footer">
    <div class="bg-card text-card-foreground mt-5 rounded-lg border shadow-sm">
      <p>Aquí van unos botones</p>
    </div>
  </Fragment>
</LessonLayout>
