---
import Card from "../ui/card/Card.astro";
import CardHeader from "../ui/card/CardHeader.astro";
import CardTitle from "../ui/card/CardTitle.astro";
import CardDescription from "../ui/card/CardDescription.astro";
import CardContent from "../ui/card/CardContent.astro";
import CardFooter from "../ui/card/CardFooter.astro";
import Button from "../ui/button/Button.astro";
import Badge from "../ui/badge/Badge.astro";
import { Icon } from "astro-icon/components";
import type { Lesson } from "@/types/lesson";
import type { Language } from "@/types/language";

export interface Props extends Lesson {
  id: string;
  isCompleted?: boolean;
}
const lang = Astro.params.lang as Language;

const { isCompleted = false, ...lesson } = Astro.props;
const id = lesson.id.split("/")[1];
const difficulty = lesson.difficulty;

const difficultyIcon: Record<typeof difficulty, string> = {
  beginner: "circle",
  intermediate: "square",
  advanced: "flame",
};

const cardClasses = isCompleted
  ? "flex flex-col transition-all duration-300 transform hover:-translate-y-1 w-full bg-secondary border-primary/20"
  : "flex flex-col transition-all duration-300 transform hover:-translate-y-1 w-full bg-card";
---

<a href={`/${lang}/python/lessons/${id}`} class="flex">
  <Card class={cardClasses}>
    <CardHeader>
      <div class="flex items-start justify-between">
        <CardTitle class="font-headline mb-1 pr-4 text-xl"
          >{lesson.title}</CardTitle
        >
        <Badge variant="outline" class="flex shrink-0 items-center capitalize">
          <Icon name={difficultyIcon[difficulty]} class="mr-1 h-4 w-4" />
          {difficulty}
        </Badge>
      </div>
      <CardDescription>{lesson.description}</CardDescription>
    </CardHeader>

    <CardContent class="flex-grow">
      <p class="text-muted-foreground text-sm">Click to start the lesson.</p>
    </CardContent>

    <CardFooter class="flex gap-2">
      <Button
        variant={isCompleted ? "default" : "secondary"}
        class="w-full"
        type="button"
      >
        <Icon name="check" class="mr-2 h-4 w-4" />
        {isCompleted ? "Completed" : "Mark as complete"}
      </Button>

      <Button variant="outline" class="w-full">
        Start Lesson
        <Icon name="arrow-right" class="ml-2 h-6 w-6" />
      </Button>
    </CardFooter>
  </Card>
</a>
